@media (max-width: 1440px) {
  .container {
    padding: 0 50px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 992px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 10px;
  }
}
