.section__1 {
    padding: 150px;
    text-align: left;
    color: white;
    position: relative;
    z-index: 2;
}

.section__1 .title {
    color: #E9BD8C;
    margin-bottom: 10px;
    font-size: 18px;
    letter-spacing: 1px;
}

.section__1 .subtitle {
    width: auto;
    max-width: 500px;
    font-family: 'Sansita Swashed', cursive;
    font-size: 64px;
    color: #F5F5F5;
    margin-bottom: 30px;
    font-weight: 400;
    line-height: 1.2;
}

.btn {
    -webkit-text-stroke: 1px black;
    padding: 12px 28px;
    background-color: #933C24;
    border: none;
    cursor: pointer;
    color: #933C24ff;
    font-size: 24px;
    font-weight: 600;
    transition: all 0.3s ease;
}
.btn:hover {
    background-color:#933C24;
    transform: translateY(-2px);
}

.learn-more {
    color: #E9BD8C;
    font-size: 17px;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
}
.learn-more:hover {
    border-bottom-color: #933C24;
}